:root {
  /* size */
  --font-size__micro: 10px;
  --font-size__small: 12px;
  --font-size__mediumSmall: 13px;
  --font-size__medium: 15px;
  --font-size__large: 20px;
}

body {
  margin: auto;
}

header {
  border-bottom: 1px solid rgb(232, 225, 225);
}

.logoAndTitle {
  display: flex;
  height: 30px;
  width: 200px;
  margin-left: 150px;
}

.logoAndTitle > img {
  width: 25px;
  height: 25px;
}

.logoAndTitle .title {
  font-size: 12px;
  line-height: 30px;
  color: black;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.mainContainer-inner {
  margin: auto;
}

/* section태그에 flex가 적용되어 있어서 상위의 inner나 container에서 margin이 동작하지 않았다? 그건 아니고 img태그 들어있는데 왜 안되는거지? */
section {
  display: flex;
  height: 150px;
  margin-bottom: 50px;
}

section:hover .imgWrap {
  transform: translateY(-10px);
}

section:hover .contents-title {
  color: rgb(162, 162, 224);
}

.imgWrap {
  transition: transform 0.3s ease-in-out;
}

.imgWrap > img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.imgWrap {
  margin-right: 20px;
}

.contents {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: border-box;
  height: 70%;
  margin-top: 20px;
}

.contents-title {
  font-size: var(--font-size__large);
  color: black;
}

.contents-description {
  font-size: var(--font-size__mediumSmall);
  color: rgb(24, 23, 23, 0.8);
}

.contents-date {
  margin-top: 10px;
  font-size: var(--font-size__small);
  color: rgb(167, 162, 162);
}

footer {
  display: flex;
  flex-direction: column;
  height: 300px;
  font-size: var(--font-size__micro);
  color: rgb(52, 50, 50, 0.5);
  background-color: antiquewhite;
}

.contact {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.company {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.company-title {
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

.mentoring {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.mentoring-title {
  margin-bottom: 10px;
}

.customer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.customer-title {
  margin-bottom: 10px;
}

.companyInfo {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  vertical-align: center;
}

.companyInfo > img {
  width: 40px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

.companyInfo-title {
  font-size: var(--font-size__medium);
  margin-right: 10px;
  line-height: 50px;
}

.companyInfo > p {
  width: 50%;
  margin-left: 30px;
}

.socialLink {
  display: flex;
  width: 70%;
  margin: 0 auto;
  font-size: var(--font-size__large);
}

i {
  width: 15px;
  height: 15px;
  padding: 10px;
}

a {
  border: none;
  outline: none;
  color: rgb(174, 163, 163);
  text-decoration: none;
  background-color: transparent;
}

@media screen and (max-width: 699px) {
  section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .imgWrap > img {
    height: 50px;
    width: 100%;
    transition: all 0.5s ease;
  }
}
